Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

feat: useHtml2canvas
  package.json
  src/useHooks/html2canvas.tsx
Due: npm run lint

feat: 重构form类型
  src/antdComponents/iForm/components/Ipicker.tsx
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/type.ts
  src/antdComponents/iSearchForm/index.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/toDay/components/dateAndPersonnel/AddPersonnel.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelSearch.tsx
Due: npm run lint

feat: 调整表单按钮
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iForm/components/Ibutton.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/components/Iradio.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/antdComponents/iPagination/index.tsx
  src/antdComponents/iSearchForm/index.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/myCenter/components/ResetPassword.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/ImportJson.tsx
  src/views/plugin/dnd/context/index.tsx
Due: npm run lint

feat: 登录
  src/views/login/account.tsx
  src/views/login/index.module.scss
Due: npm run lint, stylelint --fix

feat: dnd
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/GenerateFormItem.tsx
  src/views/plugin/dnd/components/ImportJson.tsx
  src/views/plugin/dnd/components/JsonView.tsx
  src/views/plugin/dnd/components/TemplateForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

style: 注释规范
  src/antdComponents/errorBoundary/index.tsx
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iCard/index.tsx
  src/antdComponents/iCopy/index.tsx
  src/antdComponents/iDrawer/index.tsx
  src/antdComponents/iDropdown/index.tsx
  src/antdComponents/iEditHeader/TreeMenu.tsx
  src/antdComponents/iEditHeader/index.tsx
  src/antdComponents/iForm/components/Ibutton.tsx
  src/antdComponents/iForm/components/Icascader.tsx
  src/antdComponents/iForm/components/Icheckbox.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/components/Ipicker.tsx
  src/antdComponents/iForm/components/Iradio.tsx
  src/antdComponents/iForm/components/Irate.tsx
  src/antdComponents/iForm/components/Iselect.tsx
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/components/Iswitch.tsx
  src/antdComponents/iForm/components/ItreeSelect.tsx
  src/antdComponents/iForm/components/Iupload.tsx
  src/antdComponents/iForm/components/IuserDefined.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/antdComponents/iLoading/index.tsx
  src/antdComponents/iLookModal/index.tsx
  src/antdComponents/iModal/Iconfirm.tsx
  src/antdComponents/iModal/index.tsx
  src/antdComponents/iNotification/index.tsx
  src/api/publicApi.ts
  src/api/request.ts
  src/api/requestMd.ts
  src/views/login/index.tsx
Due: npm run lint

style: 样式、className统一
  public/favicon.ico
  public/favicon.png
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/antdComponents/iLoading/index.module.scss
  src/antdComponents/iLoading/index.tsx
  src/assets/images/menu.png
  src/layout/header/Head.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/ToggleTheme.tsx
  src/layout/header/compoment/Lists.tsx
  src/layout/header/index.module.scss
  src/layout/index.scss
  src/layout/index.tsx
  src/layout/menuList/routerData.ts
  src/pluginComponents/iAnimateComponent/index.tsx
  src/pluginComponents/iInfiniteScroll/index.module.scss
  src/store/reducers/user.tsx
  src/styles/index.scss
  src/views/login/account.tsx
Due: npm run lint, stylelint --fix

style: 文件修改
  src/antdComponents/errorBoundary/index.tsx
  src/assets/images/gitee.png
  src/assets/images/github.png
  src/layout/header/componentSize/index.tsx
  src/layout/header/crumb/index.tsx
  src/layout/header/fullscreen/index.tsx
  src/layout/header/index.tsx
  src/layout/header/messageCenter/index.tsx
  src/layout/header/search/index.tsx
  src/layout/header/toggleTheme/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/header/warehouse/index.tsx
  src/layout/tabsMain/index.tsx
Due: npm run lint

feat: 立志
  README.md
Due: none

feat: 表单option配置
  src/antdComponents/iButton/type.ts
  src/antdComponents/iForm/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: option逻辑处理
  src/layout/index.scss
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
  src/views/plugin/dnd/service.ts
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint, stylelint --fix

fix: 修复Dropdown滚动bug
  src/antdComponents/iForm/index.tsx
  src/layout/header/componentSize/index.tsx
  src/layout/header/index.tsx
  src/layout/header/messageCenter/index.tsx
  src/layout/header/toggleTheme/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/index.tsx
  src/store/reducers/globalConfig.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
Due: npm run lint

feat: 区分form对应edit所需要的form
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

feat: 添加manifest
  public/manifest.json
Due: none

style: 演示地址
  README.md
Due: none

fix: 优化路由
  src/layout/tabsMain/index.tsx
  src/views/plugin/pdf/index.tsx
Due: npm run lint

style: 注释
  src/store/index.tsx
Due: npm run lint

feat: 配置cdn
  craco.config.js
  public/index.html
  src/store/reducers/globalConfig.tsx
Due: npm run lint, stylelint --fix

style: 优化Form ts
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/layout/tabsMain/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
Due: npm run lint

style: 修改文件
  src/antdComponents/errorBoundary/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/components/Antd.tsx
  src/router/components/Plugin.tsx
  src/router/components/React.tsx
  src/router/components/RouterDom.tsx
  src/router/index.tsx
  src/router/suspenseLoad.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
Due: npm run lint

feat: 添加optionsKey
  src/layout/header/componentSize/index.tsx
  src/layout/header/index.module.scss
  src/layout/header/toggleTheme/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/index.scss
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint, stylelint --fix

feat: 调整表单
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iDropdown/index.tsx
  src/antdComponents/iForm/components/Ibutton.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/type.ts
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
  src/views/plugin/dnd/itemTypes.ts
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: 更新antd依赖
  package.json
Due: none

fix: 没写key
  src/antdComponents/iForm/index.tsx
  src/layout/useAsyncComponent.tsx
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

feat: 优化表单封装
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/components/ImportJson.tsx
  src/views/toDay/components/dateAndPersonnel/AddPersonnel.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelSearch.tsx
Due: npm run lint

fix: craco cdn配置
  craco.config.js
  public/index.html
  src/antdComponents/iButton/index.tsx
  src/assets/images/lifeCycle.png
Due: npm run lint, stylelint --fix

feat: 表单
  src/antdComponents/iButton/type.ts
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/type.ts
  src/router/components/Antd.tsx
  src/router/components/Plugin.tsx
  src/router/components/React.tsx
  src/router/components/RouterDom.tsx
  src/router/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: 表单动态生成按钮
  src/antdComponents/iForm/type.ts
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: babel
  craco.config.js
Due: npm run lint

feat: 表单 生成按钮
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iForm/components/Iselect.tsx
  src/antdComponents/iForm/type.ts
  src/views/antdCom/dynamicform/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
  src/views/plugin/dnd/itemTypes.ts
Due: npm run lint

feat: forWardRef转发
  src/pluginComponents/iInnerHTML/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
Due: npm run lint

feat: ahooks 全屏
  src/layout/header/fullscreen/index copy.tsx
  src/layout/header/fullscreen/index.tsx
Due: npm run lint

feat: 数据切片
  src/index.tsx
  src/layout/index.scss
  src/layout/index.tsx
  src/layout/menuList/routerData.ts
  src/pluginComponents/iAnimateComponent/index.module.scss
  src/router/components/Plugin.tsx
  src/views/home/index.tsx
  src/views/plugin/burst/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
  src/views/reactCom/useHooksCom/myUseMemo/index.tsx
Due: npm run lint, stylelint --fix

feat: 路由调整
  src/index.tsx
  src/layout/menuList/index.tsx
  src/layout/menuList/routerData.ts
  src/router/components/React.tsx
  src/views/home/index.tsx
Due: npm run lint

feat: 调整适配
  src/layout/header/crumb/index.tsx
  src/layout/header/index.tsx
  src/layout/index.tsx
Due: npm run lint

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,scss})
