Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

feat: i18n国际语言
  package.json
  public/globalError.js
  src/assets/locales/en-us.json
  src/assets/locales/zh-cn.json
  src/config/i18n/index.tsx
  src/index.tsx
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/funCom/i18n/index.tsx
  yarn.lock
Due: npm run lint

style: Dropdown点击下拉
  src/components/iDropdown/index.tsx
  src/layout/index.tsx
Due: npm run lint

feat: customize-cra配置
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint

fix: 修正useEffect和useLayoutEffect区别
  src/views/reactCom/useHooksCom/myUseLayoutEffect/index.tsx
Due: npm run lint

feat: 图片懒加载
  package.json
  src/components/iLoading/index.module.less
  src/components/iLoading/index.tsx
  src/layout/index.less
  src/views/routerCom/myUseRouter/index.tsx
  yarn.lock
Due: npm run lint, stylelint --fix

feat: 生命周期以及渲染控制
  src/assets/images/lifeCycle.png
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/store/index.tsx
  src/views/antdCom/expenses/components/classCom.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/reactCom/useHooksCom/mySuspense/index.tsx
  src/views/reactCom/useHooksCom/myUseEffect/index.tsx
  src/views/routerCom/myUseRouter/index.tsx
Due: npm run lint

feat: class生命周期
  src/views/antdCom/expenses/components/classCom.tsx
Due: npm run lint

style: 注释格式
  src/store/index.tsx
Due: npm run lint

feat: suspense
  src/views/antdCom/expenses/index.tsx
  src/views/reactCom/useHooksCom/mySuspense/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
Due: npm run lint

style: 修改文件
  src/components/NotFound/index.tsx
  src/index.tsx
  src/router/index.tsx
  src/views/antdCom/expenses/index.tsx
Due: npm run lint

style: 删除依赖
  config-overrides.js
  package.json
  src/components/iAnimateComponent/index.tsx
  src/styles/antd-ui.less
  src/views/antdCom/expenses/index.tsx
  yarn.lock
Due: npm run lint, stylelint --fix

feat: layout页面加入鉴权
  src/layout/header/Crumb.tsx
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/layout/menuList/routerData.ts
  src/layout/tabsMain/index.tsx
  src/layout/useAsyncComponent.tsx
  src/router/auth.tsx
  src/store/reducers/globalConfig.tsx
  src/views/reactCom/rtk/index.tsx
  src/views/reactCom/useHooksCom/myUseEffect/index.tsx
Due: npm run lint

style: 调整代码
  public/index.html
  src/api/request.ts
  src/api/requestMd.ts
  src/views/antdCom/expenses/index.tsx
Due: npm run lint, stylelint --fix

feat: 压缩插件uglifyjs-webpack-plugin更换为terser-webpack-plugin
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint

feat: axios加入ts类型
  src/api/publicApi.ts
  src/api/request.ts
  src/components/iCard/index.tsx
  src/components/iForm/components/Icascader.tsx
  src/components/iForm/components/Icheckbox.tsx
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/Iinput.tsx
  src/components/iForm/components/Iradio.tsx
  src/components/iForm/components/Iselect.tsx
  src/components/iForm/components/Iswitch.tsx
  src/components/iForm/components/ItreeSelect.tsx
  src/components/iForm/components/IuserDefined.tsx
  src/components/iForm/components/formItemMap.tsx
  src/components/iForm/components/ibutton.tsx
  src/components/iForm/components/irate.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/store/reducers/globalConfig.tsx
  src/useHooks/usePublicApi.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/service.ts
  src/views/antdCom/expenses/useHooksApi.tsx
  src/views/login/service.ts
Due: npm run lint

fix: 删除依赖
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint

style: 格式
  src/store/reducers/globalConfig.tsx
Due: npm run lint

style: ts参数
  src/components/iForm/components/Icascader.tsx
  src/components/iForm/components/Icheckbox.tsx
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/Iinput.tsx
  src/components/iForm/components/Iradio.tsx
  src/components/iForm/components/Iselect.tsx
  src/components/iForm/components/Iswitch.tsx
  src/components/iForm/components/ItreeSelect.tsx
  src/components/iForm/components/IuserDefined.tsx
  src/components/iForm/components/formItemMap.tsx
  src/components/iForm/components/ibutton.tsx
  src/components/iForm/components/irate.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/layout/useAsyncComponent.tsx
  src/store/reducers/globalConfig.tsx
  src/views/antdCom/dynamicform/index.tsx
Due: npm run lint

style: 表单样式
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/Iinput.tsx
  src/components/iForm/components/Iswitch.tsx
  src/views/antdCom/dynamicform/index.tsx
Due: npm run lint

feat: 加密解密
  package.json
  src/react-app-env.d.ts
  src/utils/jsencrypt.ts
  src/views/login/index.tsx
  yarn.lock
Due: npm run lint

删除文件 yarn.lock
  yarn.lock
Due: none

add LICENSE.
  LICENSE
Due: none

style: 注释
  src/views/login/index.tsx
Due: npm run lint

fix: 菜单鉴权
  src/components/iDropdown/index.tsx
  src/components/iEditHeader/index.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/components/iLookModal/index.tsx
  src/components/iModal/index.tsx
  src/components/iTable/HeaderEdit.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/menuList/routerData.ts
  src/layout/tabsMain/index.tsx
  src/router/auth.tsx
  src/useHooks/useHeaderConfig.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/useTable.tsx
  src/views/funCom/richTextEdit/index.tsx
  src/views/myCenter/index.tsx
Due: npm run lint

fix: page修改
  src/components/iPagination/index.tsx
  src/views/antdCom/expenses/index.tsx
Due: npm run lint

fix: tabs
  src/layout/tabsMain/index.tsx
Due: npm run lint

fix: 第三层路由鉴权
  config-overrides.js
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/router/auth.tsx
  src/router/useHooks.tsx
Due: npm run lint

fix: 表单类型加强
  src/components/iForm/components/Icascader.tsx
  src/components/iForm/components/Icheckbox.tsx
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/Iinput.tsx
  src/components/iForm/components/Iradio.tsx
  src/components/iForm/components/Iselect.tsx
  src/components/iForm/components/Iswitch.tsx
  src/components/iForm/components/ItreeSelect.tsx
  src/components/iForm/components/IuserDefined.tsx
  src/components/iForm/components/formItemMap.tsx
  src/components/iForm/components/ibutton.tsx
  src/components/iForm/components/irate.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/components/iSearchForm/index.tsx
  src/components/iTable/index.tsx
  src/useHooks/useHeaderConfig.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
Due: npm run lint

fix: 表单类型加强
  src/components/iForm/components/Icascader.tsx
  src/components/iForm/components/Icheckbox.tsx
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/Iinput.tsx
  src/components/iForm/components/Iradio.tsx
  src/components/iForm/components/Iselect.tsx
  src/components/iForm/components/Iswitch.tsx
  src/components/iForm/components/ItreeSelect.tsx
  src/components/iForm/components/IuserDefined.tsx
  src/components/iForm/components/formItemMap.tsx
  src/components/iForm/components/ibutton.tsx
  src/components/iForm/components/irate.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/components/iSearchForm/index.tsx
  src/components/iTable/index.tsx
  src/layout/useAsyncComponent.tsx
  src/useHooks/useHeaderConfig.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
Due: npm run lint

style: 修改文档
  README.md
Due: none

fix: 选中菜单
  src/layout/menuList/index.tsx
  src/router/useHooks.tsx
Due: npm run lint

style: 修改样式
  src/layout/header/MessageCenter.tsx
  src/layout/header/index.module.less
  src/layout/header/index.tsx
Due: npm run lint, stylelint --fix

style: 修复文档
  README.md
Due: none

fix: 菜单鉴权
  src/router/useHooks.tsx
Due: npm run lint

fix: 解决异步组件effect执行问题
  src/layout/header/Crumb.tsx
  src/layout/index.tsx
  src/layout/useAsyncComponent.tsx
Due: npm run lint

feat: today
  src/router/index.tsx
  src/views/today/index.tsx
Due: npm run lint

feat: today
  src/components/iNotification/index.tsx
  src/layout/header/Head.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/router/useHooks.tsx
  src/utils/storage.tsx
  src/views/login/account.tsx
  src/views/login/index.tsx
Due: npm run lint

fix: 优化登录流程
  src/layout/menuList/index.tsx
  src/router/auth.tsx
  src/views/login/account.tsx
  src/views/login/index.tsx
  src/views/login/phone.tsx
Due: npm run lint

fix: cdn
  config-overrides.js
  public/index.html
Due: npm run lint, stylelint --fix

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,less})
