Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"npm run lint"
	],
	"*.{html,css,scss,sass,less}": [
		"stylelint --fix"
	]
}

.lintstagedrc.json:

{
	"*.{js,ts,tsx}": ["npm run lint"],
	"*.{html,css}": ["stylelint --fix"]
}

feat: rtk 添加异步
  src/store/index.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/views/pdf/index.tsx
Due: npm run lint

chore: react react-dom 升级到18
  package.json
  src/index.tsx
  src/store/reducers/log.tsx
  yarn.lock
Due: npm run lint

docs: 补充文档
  README.md
Due: none

test: 测试uselayouteffect
  src/views/useHooksCom/myUseLayoutEffect/index.tsx
Due: npm run lint

feat: RTK payload定义类型
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
Due: npm run lint

feat: RTK payload定义类型
  public/index.html
Due: stylelint --fix

test: 测试git回退
  public/index.html
Due: stylelint --fix

fix: 升级react-redux版本对应RTK 加入RTK useDispatc类型h
  package.json
  src/components/iButton/index.tsx
  src/components/iForm/index.tsx
  src/components/iTable/index.tsx
  src/layout/header/Head.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/tabsMain/index.tsx
  src/store/hooks.ts
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/views/myCenter/index.tsx
  src/views/pdf/index.tsx
  yarn.lock
Due: npm run lint

fix: 判断环境是否键入log中间件
  src/store/index.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/useHooks/useKeepAlive.tsx
Due: npm run lint

feat: 添加rtk调用
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/store/reducers/log.tsx
  src/views/pdf/index.tsx
  src/views/rtk/index.tsx
Due: npm run lint

style: 调整代码样式格式
  src/components/iForm/index.tsx
  src/components/loading/index.module.less
  src/layout/menuList/index.tsx
  src/styles/antd-ui.less
  src/styles/index.less
  src/styles/marginAndPadding.less
  src/utils/iconfont.tsx
  src/views/login/index.module.less
  src/views/pdf/index.module.less
Due: npm run lint, stylelint --fix

feat: react-player播放器
  package.json
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/player/index.tsx
  src/views/rtk/index.tsx
  yarn.lock
Due: npm run lint

feat: GridLayout响应式组件 很nice
  package.json
  src/layout/index.less
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/gridLayout/index.tsx
  yarn.lock
Due: npm run lint, stylelint --fix

feat: 滚动条样式、页面样式
  src/layout/index.less
  src/layout/index.tsx
  src/styles/index.less
Due: npm run lint, stylelint --fix

fix: scss->less
  src/components/iInfiniteScroll/index.module.less
  src/components/iInfiniteScroll/index.module.scss
Due: stylelint --fix

feat: player样式
  src/views/player/index.tsx
Due: npm run lint

feat: 调整项目文件结构
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/components/headerTable.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/service.ts
  src/views/antdCom/expenses/useHooksApi.tsx
  src/views/funCom/gridLayout/index.tsx
  src/views/funCom/pdf/index.module.less
  src/views/funCom/pdf/index.tsx
  src/views/funCom/player/index.tsx
  src/views/funCom/richTextEdit/components/Preview.tsx
  src/views/funCom/richTextEdit/index.tsx
  src/views/login/account.tsx
  src/views/login/index.tsx
  src/views/login/phone.tsx
  src/views/myCenter/index.tsx
  src/views/reactCom/rtk/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
  src/views/reactCom/useHooksCom/myUseContext/MyUseReducer.tsx
  src/views/reactCom/useHooksCom/myUseContext/UseContextCom.tsx
  src/views/reactCom/useHooksCom/myUseContext/index.tsx
  src/views/reactCom/useHooksCom/myUseEffect/index.tsx
  src/views/reactCom/useHooksCom/myUseLayoutEffect/index.tsx
  src/views/reactCom/useHooksCom/myUseMemo/index.tsx
  src/views/reactCom/useHooksCom/myUseReducer/index.tsx
  src/views/reactCom/useHooksCom/myUseRef/index.tsx
  src/views/reactCom/useHooksCom/myUseRouter/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
Due: npm run lint, stylelint --fix

feat: 修改菜单结构
  src/layout/menuList/index.tsx
  src/router/index.tsx
Due: npm run lint

feat: 响应式
  package.json
  src/components/iResponsive/index.tsx
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/funCom/gridLayout/index.tsx
  src/views/funCom/player/index.tsx
  src/views/funCom/responsive/index.tsx
  yarn.lock
Due: npm run lint

fix: 测试表格width
  package.json
  src/components/iTable/index.tsx
  src/views/antdCom/expenses/components/headerTable.tsx
  src/views/antdCom/expenses/useHooksApi.tsx
  yarn.lock
Due: npm run lint

fix: 修复login登录
  src/components/iForm/index.tsx
  src/router/index.tsx
  src/views/login/index.tsx
Due: npm run lint

style: 规范ts写法
  src/components/iForm/index.tsx
  src/components/iInfiniteScroll/index.tsx
  src/components/iLookModal/index.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/Search.tsx
  src/layout/menuList/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/store/index.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/useHooks/useExecuted.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/components/headerTable.tsx
Due: npm run lint

feat: 布局响应式
  src/components/animateComponent/index.module.less
  src/components/iForm/index.tsx
  src/components/iResponsive/index.tsx
  src/components/iSearchForm/index.tsx
  src/layout/header/index.tsx
  src/layout/index.less
  src/layout/index.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/useHooksApi.tsx
Due: npm run lint, stylelint --fix

fix: 响应式排版
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/router/index.tsx
Due: npm run lint

fix: useEffect监听useForm第一次会警告没连上
  .lintstagedrc.json
  config-overrides.js
  src/components/animateComponent/index.tsx
  src/components/iCard/index.tsx
  src/components/iSearchForm/index.tsx
  src/layout/index.tsx
  src/useHooks/useKeepAlive.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/service.ts
  src/views/reactCom/useHooksCom/myUseRef/index.tsx
Due: npm run lint

feat: 新增router练习
  .eslintrc.js
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/routerCom/myUseRouter/index.tsx
  src/views/routerCom/routerDemo/List.tsx
  src/views/routerCom/routerDemo/Test.tsx
  src/views/routerCom/routerDemo/index.tsx
Due: npm run lint

fix: 优化tabs
  src/layout/tabsMain/index.tsx
  src/views/routerCom/routerDemo/Test.tsx
Due: npm run lint

fix: 优化tabs
  src/layout/tabsMain/index.tsx
  src/views/login/index.tsx
Due: npm run lint

fix: 优化布局
  src/layout/index.less
  src/layout/index.tsx
Due: npm run lint, stylelint --fix

fix: 调整header样式结构
  src/components/animateComponent/index.tsx
  src/components/iCard/index.tsx
  src/layout/header/Head.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/index.module.less
  src/layout/header/index.tsx
  src/styles/index.less
Due: npm run lint, stylelint --fix

fix: 优化高度问题
  src/layout/index.less
Due: stylelint --fix

feat: 消息中心
  src/layout/header/MessageCenter.tsx
  src/layout/header/index.module.less
Due: npm run lint, stylelint --fix

style: 修改文件名
  src/components/iAnimateComponent/index.module.less
  src/components/iAnimateComponent/index.tsx
  src/components/iCopy/index.tsx
  src/components/iForm/type.ts
  src/components/iInfiniteScroll/index.tsx
  src/components/iLoading/index.module.less
  src/components/iLoading/index.tsx
  src/components/iPagination/index.tsx
  src/components/iSearchForm/index.tsx
  src/components/iTable/index.tsx
  src/router/suspenseLoad.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/myCenter/components/Photo.tsx
Due: npm run lint, stylelint --fix

style: 调整组件规范
  src/components/iButton/index.tsx
  src/components/iButton/type.ts
  src/components/iCard/index.tsx
  src/components/iCopy/index.tsx
  src/components/iDropdown/index.tsx
  src/components/iForm/index.tsx
  src/components/iInfiniteScroll/index.module.less
  src/components/iInfiniteScroll/index.tsx
  src/components/iLoading/index.module.less
  src/components/iLoading/index.tsx
  src/components/iLookModal/index.tsx
  src/components/iModal/Iconfirm.tsx
  src/components/iModal/index.tsx
  src/components/iPagination/index.tsx
  src/components/iPost/components/headerTable.tsx
  src/components/iPost/index.tsx
  src/components/iResponsive/index.tsx
  src/components/iSearchForm/index.tsx
  src/components/iSearchTag/index.tsx
  src/components/iTable/components/TbButton.tsx
  src/components/iTable/components/TbMulti.tsx
  src/components/iTable/index.module.scss
  src/components/iTable/index.tsx
  src/components/iTooltip/index.tsx
  src/components/iTransition/index.tsx
  src/views/antdCom/expenses/components/headerTable.tsx
Due: npm run lint, stylelint --fix

style: 调整组件规范
  src/components/Error404/index.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/Fullscreen.tsx
  src/layout/header/Head.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/Search.tsx
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/Nprogress.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/router/suspenseLoad.tsx
  src/store/index.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/useHooks/useCardGutter.tsx
  src/useHooks/useExecuted.tsx
  src/useHooks/useIntro.tsx
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/useHooks/useScreenSize.tsx
  src/utils/errorCode.tsx
  src/utils/iconfont.tsx
  src/utils/onlyKey.tsx
  src/utils/rules.ts
  src/utils/storage.tsx
  src/views/antdCom/dynamicform/index.tsx
Due: npm run lint

feat: 消息中心
  src/layout/header/MessageCenter.tsx
  src/layout/header/compoment/Lists.tsx
  src/layout/header/index.module.less
  src/store/index.tsx
Due: npm run lint, stylelint --fix

feat: 添加编辑表头
  src/api/publicApi.ts
  src/components/iEditHeader/TreeMenu.tsx
  src/components/iEditHeader/index.tsx
  src/components/iEditHeader/service.ts
  src/layout/index.tsx
  src/store/index.tsx
  src/store/reducers/globalConfig.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/useHooks/useApi.tsx
  src/useHooks/useHeaderConfig.tsx
  src/useHooks/usePublicApi.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/components/headerTable.tsx
Due: npm run lint

feat: 配置表头功能
  config-overrides.js
  package.json
  src/components/iEditHeader/TreeMenu.tsx
  src/components/iEditHeader/index.tsx
  src/components/iTable/HeaderEdit.tsx
  src/layout/header/Search.tsx
  src/layout/index.less
  src/layout/index.tsx
  src/router/index.tsx
  src/views/antdCom/expenses/index.tsx
  yarn.lock
Due: npm run lint, stylelint --fix

fix: 优化界面
  config-overrides.js
  public/index.html
  src/layout/index.less
  src/layout/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/index.tsx
  src/views/antdCom/expenses/components/useTable.tsx
  src/views/antdCom/expenses/index.tsx
Due: npm run lint, stylelint --fix

style: layout样式
  src/layout/index.less
  src/layout/index.tsx
Due: npm run lint, stylelint --fix
