Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

.lintstagedrc:

{
	"*.{js,ts,tsx}": [
		"npm run lint"
	],
	"*.{html,css,scss,sass,less}": [
		"stylelint --fix"
	]
}

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["npm run lint"],
	"*.{css,scss}": ["stylelint --fix"]
}

feat: createPortal
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/layout/menuList/routerData.ts
  src/router/components/React.tsx
  src/views/reactCom/reactDom/createPortal/index.tsx
  src/views/reactCom/useHooksCom/myUseTransition/index.tsx
Due: npm run lint

feat: flushSync
  src/layout/menuList/routerData.ts
  src/router/components/React.tsx
  src/views/reactCom/reactDom/createPortal/index.tsx
  src/views/reactCom/reactDom/flushSync/index.tsx
Due: npm run lint

feat: 数据切片
  src/views/plugin/burst/index.tsx
Due: npm run lint

feat: 拖拽
  src/antdComponents/iCard/index.tsx
  src/layout/useAsyncComponent.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/GeneratCode.tsx
  src/views/plugin/dnd/components/JsonView.tsx
Due: npm run lint

feat: 打字效果
  package.json
  src/pluginComponents/easyTyper/index.tsx
  src/views/reactCom/reactDom/createPortal/index.tsx
  src/views/reactCom/reactDom/flushSync/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
Due: npm run lint

feat: grid瀑布流
  src/views/plugin/gridLayout/index.tsx
Due: npm run lint

feat: diff对比问题 随机key来更新
  src/views/plugin/gridLayout/index.tsx
Due: npm run lint

style: 注释
  src/layout/index.tsx
  src/useHooks/html2canvas.tsx
  src/useHooks/useApi.tsx
  src/useHooks/useCardGutter.tsx
  src/useHooks/useExecuted.tsx
  src/useHooks/useHeaderConfig.tsx
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/useHooks/usePublicApi.tsx
  src/useHooks/useResize.tsx
  src/useHooks/useScreenSize.tsx
  src/views/plugin/gridLayout/index.tsx
Due: npm run lint

style: 暗黑主题
  src/config/theme/theme2.ts
  src/layout/index.scss
Due: npm run lint, stylelint --fix

style: 页面card包裹
  src/layout/header/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/tabsMain/index.module.scss
  src/layout/tabsMain/index.tsx
  src/useHooks/useResize.tsx
  src/useHooks/useScreenSize.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/plugin/burst/index.tsx
  src/views/plugin/dnd/index.tsx
  src/views/plugin/gridLayout/index.tsx
  src/views/plugin/i18n/index.tsx
  src/views/plugin/pdf/index.tsx
  src/views/plugin/player/index.tsx
  src/views/plugin/responsive/index.tsx
  src/views/plugin/richTextEdit/index.tsx
  src/views/reactCom/reactDom/createPortal/index.tsx
  src/views/reactCom/reactDom/flushSync/index.tsx
  src/views/reactCom/rtk/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
  src/views/reactCom/useHooksCom/mySuspense/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
  src/views/reactCom/useHooksCom/myUseContext/index.tsx
  src/views/reactCom/useHooksCom/myUseEffect/index.tsx
  src/views/reactCom/useHooksCom/myUseLayoutEffect/index.tsx
  src/views/reactCom/useHooksCom/myUseMemo/index.tsx
  src/views/reactCom/useHooksCom/myUseReducer/index.tsx
  src/views/reactCom/useHooksCom/myUseRef/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
  src/views/reactCom/useHooksCom/myUseTransition/index.tsx
  src/views/routerCom/myUseRouter/index.tsx
  src/views/routerCom/routerDemo/index.tsx
Due: npm run lint, stylelint --fix

style: 滚动条
  src/layout/index.tsx
Due: npm run lint

feat: 主题色
  src/config/theme/index.tsx
  src/config/theme/module/dark.ts
  src/config/theme/module/white.ts
  src/config/theme/theme2.ts
  src/layout/tabsMain/index.tsx
  src/pluginComponents/iGridLayout/index.tsx
  src/views/plugin/gridLayout/index.tsx
Due: npm run lint

feat: 抽离组件
  src/antdComponents/iLookModal/index.tsx
  src/layout/header/fullscreen/index.tsx
  src/pluginComponents/iFullscreen/index.tsx
  src/views/plugin/richTextEdit/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
Due: npm run lint

feat: 搜索效果
  src/layout/header/search/index.tsx
  src/layout/tabsMain/index.module.scss
Due: npm run lint, stylelint --fix

style: 动画效果
  src/layout/tabsMain/index.module.scss
Due: stylelint --fix

style: 调整header图标
  src/config/theme/index.tsx
  src/layout/header/index.tsx
  src/layout/header/search/index.tsx
  src/layout/header/toggleTheme/index.tsx
  src/store/reducers/layout.tsx
  src/utils/iconfont.tsx
Due: npm run lint

style: 样式调整
  src/layout/header/index.tsx
  src/layout/header/search/index.tsx
  src/layout/header/toggleTheme/index.tsx
  src/layout/menuList/routerData.ts
  src/layout/tabsMain/index.tsx
  src/views/antdCom/dynamicform/index.tsx
  src/views/reactCom/reactDom/createPortal/index.tsx
Due: npm run lint

feat: 用户指导
  src/layout/index.tsx
  src/utils/storage.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
Due: npm run lint

style: source
  craco.config.js
Due: npm run lint

feat: hoc 绑定事件
  src/hoc/hoverEvenHoc/index.tsx
Due: npm run lint

style: 对象方式暴露
  src/antdComponents/iTooltip/index.tsx
  src/config/theme/useThemeHooks.tsx
  src/layout/index.tsx
  src/layout/tabsMain/index.tsx
  src/views/home/components/OrganizationGraph.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/index.tsx
Due: npm run lint

fix: 瀑布流图片
  src/layout/index.tsx
  src/pluginComponents/iGridLayout/index.tsx
  src/views/plugin/gridLayout/index.tsx
Due: npm run lint

add default pipeline template yaml
  .workflow/branch-pipeline.yml
  .workflow/master-pipeline.yml
  .workflow/pr-pipeline.yml
Due: none

feat: slider参数
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
Due: npm run lint

feat: lint-staged配置
  .lintstagedrc.json
  package.json
Due: none

feat: 项目配置图片
  src/assets/images/juejin.cn_post_7210310775276240956.png
Due: none

feat: 配置github一键部署
  .lintstagedrc.json
  craco.config.js
  public/index.html
  src/index.tsx
Due: npm run lint, stylelint --fix

feat: 配置github一键部署
  .lintstagedrc.json
  README.md
  craco.config.js
  public/index.html
  src/index.tsx
Due: npm run lint, stylelint --fix

feat: 修改路由鉴权组件
  src/router/auth.tsx
  src/router/index.tsx
  src/router/useHooks.tsx
Due: npm run lint

feat: lazy Suspense 有嵌套情况 请求,时间小于400 会导致重复渲染
  src/layout/index.tsx
  src/layout/useAsyncComponent.tsx
  src/router/index.tsx
  src/router/useHooks.tsx
  src/views/toDay/components/dateAndPersonnel/AsyncDateAndPersonnel.tsx
  src/views/toDay/index.tsx
Due: npm run lint

feat: 重构缓存
  src/layout/index.tsx
  src/store/index.tsx
  src/store/reducers/index.tsx
  src/store/reducers/keepAlive.tsx
  src/store/reducers/user.tsx
  src/useHooks/useKeepAlive.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/service.ts
  src/views/antdCom/expenses/useHooksApi.tsx
Due: npm run lint

Merge branch 'github' of https://gitee.com/lv_yan-a/react-app into github
  debug.log
Due: none

删除文件 debug.log
  debug.log
Due: none

feat: 更换图标
  src/layout/header/warehouse/index.tsx
  src/utils/iconfont.tsx
Due: npm run lint

fix: click和blur事件触发顺序问题
  src/layout/header/crumb/index.tsx
  src/layout/header/search/index.tsx
Due: npm run lint

style: eslint配置
  package.json
  src/layout/useAsyncComponent.tsx
  src/views/plugin/burst/index.tsx
  src/views/plugin/dnd/components/JsonView.tsx
  src/views/plugin/gridLayout/index.tsx
  src/views/react/hooks/forwardRef/index.tsx
  src/views/react/hooks/useCallback/index.tsx
  src/views/react/hooks/useState/index.tsx
Due: npm run lint

feat: 添加中断axios请求
  src/api/abortController.ts
  src/api/request.ts
Due: npm run lint
