Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

feat: 监听DOM hooks
  package.json
  src/useHooks/useResize.tsx
  src/views/home/components/OrganizationGraph.tsx
Due: npm run lint

style: antv cdn
  config-overrides.js
  public/index.html
Due: npm run lint, stylelint --fix

feat: 消息中心
  src/views/messageCenter/components/useTable.tsx
  src/views/messageCenter/index.tsx
  src/views/messageCenter/service.ts
Due: npm run lint

style: 修改文件名
  src/router/components/Plugin.tsx
  src/views/plugin/dnd/index.tsx
  src/views/plugin/gridLayout/index.tsx
  src/views/plugin/i18n/index.tsx
  src/views/plugin/pdf/index.module.scss
  src/views/plugin/pdf/index.tsx
  src/views/plugin/player/index.tsx
  src/views/plugin/responsive/index.tsx
  src/views/plugin/richTextEdit/components/Preview.tsx
  src/views/plugin/richTextEdit/index.tsx
Due: npm run lint, stylelint --fix

feat: dnd拖拽
  package.json
  src/layout/header/Crumb.tsx
  src/layout/menuList/index.tsx
  src/layout/menuList/routerData.ts
  src/router/components/Plugin.tsx
  src/router/components/React.tsx
  src/router/components/RouterDom.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/index.tsx
  src/views/plugin/dnd/itemTypes.ts
Due: npm run lint

feat: 拖拽
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/components/GenerateFormItem.tsx
  src/views/plugin/dnd/index.tsx
Due: npm run lint

style: stylelint修复
  package.json
  src/antdComponents/iLoading/index.module.scss
  src/assets/locales/en-us.json
  src/assets/locales/zh-cn.json
Due: stylelint --fix

fix: 格式修复
  src/assets/locales/en-us.json
  src/assets/locales/zh-cn.json
  src/theme/index.tsx
Due: npm run lint

feat: form增加滑动条
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
Due: npm run lint

feat: dnd
  src/views/antdCom/expenses/components/SeachForm.tsx
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

feat: context
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/index.tsx
Due: npm run lint

feat: dnd
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/itemTypes.ts
Due: npm run lint

feat: cro更换craco
  .eslintignore
  config-overrides.js
  craco.config.js
  package.json
  public/index.html
  src/index.css
  src/index.tsx
  src/tailwind.css
Due: npm run lint, stylelint --fix

fix: externals导致无法热更新
  craco.config.js
  package.json
  public/index.html
Due: npm run lint, stylelint --fix

feat: dnd
  src/App.tsx
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

feat: 打包filename加hash
  craco.config.js
Due: npm run lint

fix: 区分环境
  craco.config.js
Due: npm run lint

feat: 表单生成
  package.json
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/type.ts
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/JsonView.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/index.tsx
  src/views/plugin/dnd/itemTypes.ts
Due: npm run lint

fix: router权限
  src/antdComponents/NotFound/index.tsx
  src/antdComponents/errorBoundary/index.tsx
  src/router/components/Plugin.tsx
  src/router/index.tsx
Due: npm run lint

feat: 表单属性
  src/antdComponents/iForm/components/Icascader.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/components/Iselect.tsx
  src/antdComponents/iForm/components/ItreeSelect.tsx
  src/antdComponents/iForm/type.ts
Due: npm run lint

feat: upload
  src/antdComponents/iForm/components/Iupload.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
Due: npm run lint

fix: 表单类型
  src/antdComponents/iForm/components/Icascader.tsx
  src/antdComponents/iForm/components/Icheckbox.tsx
  src/antdComponents/iForm/components/Idate.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/components/Iradio.tsx
  src/antdComponents/iForm/components/Iselect.tsx
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/components/Iswitch.tsx
  src/antdComponents/iForm/components/ItreeSelect.tsx
  src/antdComponents/iForm/components/Iupload.tsx
  src/antdComponents/iForm/components/IuserDefined.tsx
  src/antdComponents/iForm/components/ibutton.tsx
  src/antdComponents/iForm/components/irate.tsx
  src/views/antdCom/dynamicform/index.tsx
Due: npm run lint

feat: dnd
  src/layout/index.tsx
  src/layout/menuList/routerData.ts
  src/router/useHooks.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/routerCom/myUseRouter/index.tsx
Due: npm run lint

重命名 src/antdComponents/iForm/components/irate.tsx 为 src/antdComponents/iForm/components/Irate.tsx
  src/antdComponents/iForm/components/Irate.tsx
Due: npm run lint

重命名 src/antdComponents/iForm/components/ibutton.tsx 为 src/antdComponents/iForm/components/Ibutton.tsx
  src/antdComponents/iForm/components/Ibutton.tsx
Due: npm run lint

fix: form文件修改
  src/antdComponents/iForm/components/Ibutton.tsx
  src/antdComponents/iForm/components/Icascader.tsx
  src/antdComponents/iForm/components/Icheckbox.tsx
  src/antdComponents/iForm/components/Idate.tsx
  src/antdComponents/iForm/components/Iinput.tsx
  src/antdComponents/iForm/components/Iradio.tsx
  src/antdComponents/iForm/components/Irate.tsx
  src/antdComponents/iForm/components/Iselect.tsx
  src/antdComponents/iForm/components/Islider.tsx
  src/antdComponents/iForm/components/Iswitch.tsx
  src/antdComponents/iForm/components/ItreeSelect.tsx
  src/antdComponents/iForm/components/IuserDefined.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
Due: npm run lint

feat: 配置文件调整
  src/antdComponents/iTooltip/index.tsx
  src/config/theme/index.tsx
  src/config/theme/theme1.ts
  src/config/theme/theme2.ts
  src/config/theme/useThemeHooks.tsx
  src/index.tsx
  src/layout/index.tsx
  src/layout/tabsMain/index.tsx
  src/views/home/components/OrganizationGraph.tsx
Due: npm run lint

feat: login
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: npm run lint

feat: 登录
  src/views/login/account.tsx
  src/views/login/index.module.scss
  src/views/login/index.tsx
Due: npm run lint, stylelint --fix

style: dnd
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/context/index.tsx
Due: npm run lint

feat: 更换loading
  src/layout/useAsyncComponent.tsx
  src/pluginComponents/iLoading/index.module.scss
  src/pluginComponents/iLoading/index.tsx
  src/router/suspenseLoad.tsx
Due: npm run lint, stylelint --fix

style: key
  src/views/antdCom/dynamicform/index.tsx
Due: npm run lint

style: 更换loading
  src/pluginComponents/iLoading/index.module.scss
  src/pluginComponents/iLoading/index.tsx
Due: npm run lint, stylelint --fix

feat: dnd表单生成
  src/layout/header/MessageCenter.tsx
  src/layout/header/compoment/Lists.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/service.ts
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: 项目优化
  src/views/plugin/richTextEdit/index.tsx
Due: npm run lint

feat: 关联父级数据过滤自己
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

style: 忽略node_modules
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

feat: 交换位置
  src/antdComponents/iEditHeader/TreeMenu.tsx
  src/utils/exchange.tsx
Due: npm run lint

style: log
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/useHooks/index.tsx
  src/views/plugin/richTextEdit/index.tsx
  src/views/toDay/components/dateAndPersonnel/index.tsx
Due: npm run lint

style: 升级wangeditor依赖
  package.json
Due: none

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,scss})
