Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

feat: button单元测试
  package.json
  src/antdComponents/iButton/IbuttonItem.test.tsx
  src/antdComponents/iButton/IbuttonItem.tsx
  src/antdComponents/iButton/__snapshots__/IbuttonItem.test.tsx.snap
  src/antdComponents/iButton/index.test.tsx
  src/antdComponents/iButton/index.tsx
  src/setupTests.ts
Due: npm run lint

feat: 测试用例
  package.json
  src/antdComponents/iButton/IbuttonItem.test.tsx
  src/antdComponents/iButton/index.test.tsx
  src/antdComponents/iCard/index.test.tsx
Due: npm run lint

style: 移除文件
  src/pluginComponents/index.tsx
Due: npm run lint

feat: 虚拟滚动
  src/views/plugin/burst/VirtualScroll.tsx
  src/views/plugin/burst/index.tsx
Due: npm run lint

feat: 数据切片
  src/views/plugin/burst/ScheduleSlicer.tsx
  src/views/plugin/burst/VirtualScroll.tsx
  src/views/plugin/burst/index.tsx
Due: npm run lint

style: 调整代码格式
  src/views/plugin/burst/index.tsx
Due: npm run lint

refactor: 修改router格式
  src/pluginComponents/iMarkdown/index.tsx
  src/router/module/antd.tsx
  src/router/module/document.tsx
  src/router/module/plugin.tsx
  src/router/module/react.tsx
  src/router/module/router.tsx
  src/views/plugin/burst/index.tsx
Due: npm run lint

feat: 限制函数行数不能超过300
  .eslintrc.js
  src/views/antd/dynamicform/index.tsx
  src/views/plugin/dnd/EditForm.tsx
Due: npm run lint

style: 文件调整
  src/views/antd/expenses/index.tsx
  src/views/antd/expenses/useHooks/useTable.tsx
Due: npm run lint

refactor: 重构表单
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/antdComponents/iSearchForm/index.tsx
  src/views/antd/dynamicform/index.tsx
  src/views/antd/expenses/components/SeachForm.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/components/ImportJson.tsx
  src/views/plugin/dnd/components/JsonView.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/useHooks/index.tsx
  src/views/toDay/components/dateAndPersonnel/AddPersonnel.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelSearch.tsx
Due: npm run lint

test: 测试
  src/styles/index.scss
Due: stylelint --fix

test: 测试
  .stylelintrc.js
Due: npm run lint

style: stylelint
  .stylelintrc.js
  src/styles/index.scss
Due: npm run lint, stylelint --fix

chore: antd版本更新
  src/antdComponents/iCollapse/index.tsx
  src/antdComponents/iCollapse/useStyleHooks.tsx
Due: npm run lint

refactor: antd Collapse迭代
  src/antdComponents/iForm/index.tsx
  src/config/antd/theme/module/dark.ts
  src/react-app-env.d.ts
  src/views/document/markdown/index.tsx
  src/views/react/hooks/useContext/index.tsx
  src/views/react/hooks/useEffect/index.tsx
  src/views/react/hooks/useInsertionEffect/index.tsx
  src/views/react/hooks/useLayoutEffect/index.tsx
  src/views/react/hooks/useReducer/index.tsx
  src/views/react/hooks/useState/index.tsx
Due: npm run lint

feat: 飞书自动登录
  public/index.html
  src/config/antd/index.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/router/auth.tsx
  src/views/login/Feishu.tsx
Due: npm run lint, stylelint --fix

chore: 添加复杂度校验
  .eslintrc.js
  src/layout/menu/index.tsx
  src/pluginComponents/iMarkdown/module/branch.md
  src/router/auth.tsx
  src/router/index.tsx
  src/utils/findNode.ts
  src/views/plugin/burst/ScheduleSlicer.tsx
  src/views/plugin/dnd/components/ImportJson.tsx
Due: npm run lint

style: ts调整
  .eslintrc.js
  src/antdComponents/iDrawer/index.tsx
  src/antdComponents/iTable/useHooks.tsx
  src/layout/menu/index.tsx
  src/views/login/index.tsx
  src/views/login/service.ts
Due: npm run lint

chore: eslint配置
  .eslintignore
  src/antdComponents/notFound/index.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/useHooks/useMessage.tsx
  src/useHooks/useNotification.tsx
  src/views/login/index.tsx
Due: npm run lint

style: 文件格式
  src/antdComponents/notFound/index.tsx
  src/router/index.tsx
Due: npm run lint

chore: 你的依赖项之一babel-preset-react-app正在导入 “@babel/plugin-proposal-private-property-in-object”包没有在依赖项中声明它
  package.json
Due: none

删除文件 src/antdComponents/NotFound
  src/antdComponents/NotFound/index.tsx
Due: npm run lint

fix: 吐血的bug....
  src/views/login/account.tsx
Due: npm run lint

feat: 注入消息全局弹框
  src/api/request.ts
  src/config/antd/context/index.tsx
  src/config/antd/context/useMessage.tsx
  src/config/antd/context/useNotification.tsx
  src/config/antd/index.tsx
  src/layout/menu/index.tsx
  src/router/auth.tsx
  src/utils/cookie.ts
  src/utils/errorCode.tsx
  src/utils/storage.tsx
  src/views/login/index.tsx
Due: npm run lint

fix: 监听DOM变化加入防抖
  src/useHooks/useResize.tsx
Due: npm run lint

feat: context优化注释
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/index.tsx
  src/views/react/hooks/useContext/Icontext.tsx
  src/views/react/hooks/useContext/IuseReducer.tsx
  src/views/react/hooks/useContext/index.tsx
Due: npm run lint

style: ts类型调整
  src/antdComponents/iEditHeader/TreeMenu.tsx
  src/antdComponents/iEditHeader/index.tsx
  src/api/publicApi.ts
  src/config/antd/context/index.tsx
  src/layout/configLayout/index.tsx
  src/layout/header/index.tsx
  src/layout/header/messageCenter/index.module.scss
  src/layout/header/messageCenter/index.tsx
  src/layout/index.tsx
  src/layout/menu/Title.tsx
  src/layout/menu/index.tsx
  src/store/reducers/globalConfig.tsx
  src/useHooks/useHeaderConfig.tsx
Due: npm run lint, stylelint --fix

feat: 优化拆分组件,拓展设置布局功能
  src/assets/images/layout.jpg
  src/assets/images/layout1.jpg
  src/layout/configLayout/StyleLayout.tsx
  src/layout/configLayout/index.module.scss
  src/layout/configLayout/index.tsx
  src/layout/configLayout/useConfigLayout.tsx
  src/layout/header/crumb/index.tsx
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/layout/menu/CradMenu.tsx
  src/layout/menu/LeftMenu.tsx
  src/layout/menu/components/Title.tsx
  src/layout/menu/routerData.ts
  src/router/useHooks.tsx
Due: npm run lint, stylelint --fix

feat: 布局设置
  src/antdComponents/iForm/components/Iradio.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/layout/TabsMain/index.module.scss
  src/layout/TabsMain/index.tsx
  src/layout/configLayout/StyleLayout.tsx
  src/layout/configLayout/index.tsx
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/layout/menu/LeftMenu.tsx
  src/layout/menu/components/Title.tsx
  src/layout/otherFunctions/index.tsx
  src/layout/styleLayoutConfig.ts
  src/store/reducers/layout.tsx
Due: npm run lint, stylelint --fix

feat: 设置布局
  public/index.html
  src/layout/TabsMain/index.tsx
  src/layout/configLayout/StyleLayout.tsx
  src/layout/configLayout/index.tsx
  src/layout/configLayout/useConfigLayout.tsx
  src/layout/header/componentSize/index.tsx
  src/layout/header/crumb/index.tsx
  src/layout/header/index.tsx
  src/layout/header/logo/index.tsx
  src/layout/header/messageCenter/compoment/Lists.tsx
  src/layout/header/messageCenter/index.tsx
  src/layout/header/search/index.tsx
  src/layout/header/toggleTheme/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/header/warehouse/index.tsx
  src/layout/index.tsx
  src/layout/menu/CradMenu.tsx
  src/layout/menu/LeftMenu.tsx
  src/layout/menu/components/Title.tsx
  src/layout/menu/routerData.ts
  src/layout/otherFunctions/index.tsx
  src/store/reducers/layout.tsx
Due: npm run lint, stylelint --fix

fix: 样式调整
  src/layout/configLayout/StyleLayout.tsx
  src/layout/index.tsx
  src/layout/menu/LeftMenu.tsx
  src/layout/styleLayoutConfig.ts
Due: npm run lint

fix: 缺失依赖添加
  package.json
  src/index.tsx
  src/layout/menu/CradMenu.tsx
  src/layout/menu/LeftMenu.tsx
Due: npm run lint

fix: 测试路由改变不刷新页面
  craco.config.js
  src/layout/LayoutStyle.tsx
  src/layout/index.tsx
  src/layout/useHooks/styleLayoutConfig.ts
  src/layout/useHooks/useLayout.tsx
  src/store/index.tsx
Due: npm run lint

style: 调整格式
  src/layout/index.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/views/home/index.tsx
Due: npm run lint

feat: 测试
  src/views/home/index.tsx
Due: npm run lint

fix: 文件路径
  src/layout/LayoutStyle.tsx
Due: npm run lint

fix: 处理路由失效问题
  craco.config.js
  src/App.tsx
  src/router/index.tsx
  src/router/module/router.tsx
Due: npm run lint

style: 修改文件大小写
  src/layout/tabsMain/index.module.scss
  src/layout/tabsMain/index.tsx
Due: npm run lint, stylelint --fix

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,scss})
