Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

fix: less改成scss 添加tailwindcss
  .stylelintrc.js
  config-overrides.js
  package.json
  src/App.css
  src/App.tsx
  src/components/iAnimateComponent/index.module.scss
  src/components/iAnimateComponent/index.tsx
  src/components/iInfiniteScroll/index.module.scss
  src/components/iInfiniteScroll/index.tsx
  src/components/iLoading/index.module.scss
  src/components/iLoading/index.tsx
  src/index.scss
  src/index.tsx
  src/layout/header/Head.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/Search.tsx
  src/layout/header/compoment/Lists.tsx
  src/layout/header/index.module.scss
  src/layout/index.scss
  src/layout/index.tsx
  src/react-app-env.d.ts
  src/styles/antd-ui.scss
  src/styles/index.scss
  src/styles/marginAndPadding.less
  src/styles/marginAndPadding.scss
  src/styles/variables.less
  src/styles/variables.scss
  src/views/funCom/pdf/index.module.scss
  src/views/funCom/pdf/index.tsx
  src/views/login/account.tsx
  src/views/login/index.module.scss
  src/views/login/index.tsx
  src/views/login/phone.tsx
  src/views/today/index.tsx
  tailwind.config.js
  yarn.lock
Due: npm run lint, stylelint --fix

feat: 待办事项
  public/index.html
  src/views/today/components/Content.tsx
  src/views/today/components/LeftCalendar.tsx
  src/views/today/index.tsx
  tailwind.config.js
Due: npm run lint, stylelint --fix

feat: today
  src/views/toDay/components/LeftCalendar.tsx
  src/views/toDay/components/RightContent.tsx
  src/views/toDay/components/TeamMembers.tsx
  src/views/toDay/index.tsx
  yarn.lock
Due: npm run lint

feat: forwardref 转发
  src/layout/menuList/routerData.ts
  src/router/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
Due: npm run lint

feat: forwardref 转发
  src/App.tsx
  src/index.tsx
  src/layout/menuList/routerData.ts
  src/router/index.tsx
  src/views/funCom/gridLayout/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
  src/views/toDay/components/Comment.tsx
  src/views/toDay/components/LeftCalendar.tsx
  src/views/toDay/components/RightContent.tsx
  src/views/toDay/components/TeamMembers.tsx
  src/views/toDay/index.tsx
  tailwind.config.js
Due: npm run lint

style: tailwind 样式
  src/index.tsx
  src/tailwind.css
Due: npm run lint, stylelint --fix

style: eslint配置不需要导入React
  .eslintrc.js
  src/layout/header/Fullscreen.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
Due: npm run lint

feat: today
  src/components/iEditHeader/index.tsx
  src/components/iModal/index.tsx
  src/views/myCenter/index.tsx
  src/views/reactCom/useHooksCom/myUseContext/UseContextCom.tsx
  src/views/toDay/components/AddPersonnel.tsx
  src/views/toDay/components/Comment.tsx
  src/views/toDay/components/RightContent.tsx
  src/views/toDay/components/TeamMembers.tsx
  src/views/toDay/context/index.tsx
  src/views/toDay/index.tsx
Due: npm run lint

feat: today
  src/components/iEditHeader/index.tsx
  src/components/iForm/index.tsx
  src/components/iModal/index.tsx
  src/views/myCenter/index.tsx
  src/views/reactCom/useHooksCom/myUseContext/UseContextCom.tsx
  src/views/toDay/components/AddPersonnel.tsx
  src/views/toDay/components/Comment.tsx
  src/views/toDay/components/RightContent.tsx
  src/views/toDay/components/TeamMembers.tsx
  src/views/toDay/context/index.tsx
  src/views/toDay/index.tsx
Due: npm run lint

fix: antd4升级到5
  config-overrides.js
  package.json
  src/components/iForm/components/Idate.tsx
  src/components/iForm/components/formItemMap.tsx
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/index.tsx
  src/layout/header/ModuleSize.tsx
  src/store/reducers/layout.tsx
  src/views/toDay/components/AddPersonnel.tsx
  src/views/toDay/components/LeftCalendar.tsx
Due: npm run lint

feat: antd4升级5
  src/api/publicApi.ts
  src/api/request.ts
  src/components/iCard/index.tsx
  src/components/iDrawer/index.tsx
  src/components/iDropdown/index.tsx
  src/index.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/Head.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/Search.tsx
  src/layout/header/ToggleTheme.tsx
  src/layout/header/index.module.scss
  src/layout/header/index.tsx
  src/layout/index.scss
  src/layout/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/useHooks.tsx
  src/store/reducers/layout.tsx
  src/theme/index.tsx
  src/theme/theme1.ts
  src/theme/theme2.ts
  src/theme/useThemeHooks.tsx
  src/views/antdCom/expenses/service.ts
  src/views/login/service.ts
  src/views/toDay/components/AddPersonnel.tsx
  src/views/toDay/components/EditPersonnel.tsx
  src/views/toDay/components/TeamMembers.tsx
  src/views/toDay/service.ts
  tailwind.config.js
Due: npm run lint, stylelint --fix

feat: 跟换icon
  src/components/iAnimateComponent/index.tsx
  src/components/iForm/components/ibutton.tsx
  src/layout/header/MessageCenter.tsx
  src/layout/header/index.module.scss
  src/layout/menuList/routerData.ts
  src/theme/theme1.ts
  src/utils/iconfont.tsx
  src/views/antdCom/expenses/components/SeachForm.tsx
Due: npm run lint, stylelint --fix

style: 调整today文件
  src/layout/header/index.module.scss
  src/views/login/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
  src/views/toDay/components/dateOfPersonnel/AddPersonnel.tsx
  src/views/toDay/components/dateOfPersonnel/TeamMembers.tsx
  src/views/toDay/components/dateOfPersonnel/index.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/editPersonnel/index.tsx
  src/views/toDay/components/taskList/Comment.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/index.tsx
Due: npm run lint, stylelint --fix

style: 调整today文件
  src/layout/header/index.module.scss
  src/views/login/index.tsx
  src/views/reactCom/useHooksCom/myForwardRef/index.tsx
  src/views/reactCom/useHooksCom/myUseCallback/index.tsx
  src/views/reactCom/useHooksCom/myUseState/index.tsx
  src/views/toDay/components/dateAndPersonnel/AddPersonnel.tsx
  src/views/toDay/components/dateAndPersonnel/TeamMembers.tsx
  src/views/toDay/components/dateAndPersonnel/index.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/editPersonnel/index.tsx
  src/views/toDay/components/taskList/Comment.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/index.tsx
Due: npm run lint, stylelint --fix

style: loading
  src/antdComponents/iLoading/index.tsx
  src/router/useHooks.tsx
  src/views/antdCom/expenses/index.tsx
  src/views/antdCom/expenses/useHooksApi.tsx
  src/views/routerCom/myUseRouter/index.tsx
Due: npm run lint

feat: 移除less
  package.json
  src/antdComponents/iTour/index.tsx
  src/layout/index.tsx
  src/useHooks/useIntro.tsx
  src/views/antdCom/expenses/useHooksApi.tsx
Due: npm run lint

feat: 使用ahooks
  package.json
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/views/toDay/components/editPersonnel/EditPersonnelSearch.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/editPersonnel/index.tsx
  src/views/toDay/components/editPersonnel/useApiHooks.tsx
  src/views/toDay/service.ts
Due: npm run lint

feat: 按钮type泛型
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iDropdown/index.tsx
  src/views/antdCom/expenses/components/useTable.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/editPersonnel/useApiHooks.tsx
Due: npm run lint

feat: today
  src/antdComponents/iButton/type.ts
  src/views/toDay/components/dateAndPersonnel/Date.tsx
  src/views/toDay/components/dateAndPersonnel/TeamMembers.tsx
  src/views/toDay/components/dateAndPersonnel/index.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/index.tsx
  src/views/toDay/service.ts
Due: npm run lint

feat: TODAY收藏
  src/views/toDay/components/editPersonnel/EditPersonnelSearch.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/taskList/index.tsx
Due: npm run lint

feat: 评论、点赞、收藏
  src/views/toDay/components/dateOfPersonnel/AddPersonnel.tsx
  src/views/toDay/components/dateOfPersonnel/TeamMembers.tsx
  src/views/toDay/components/dateOfPersonnel/index.tsx
  src/views/toDay/components/taskList/index.tsx
Due: npm run lint

feat: today优化体验
  src/views/toDay/components/dateAndPersonnel/AsyncDateAndPersonnel.tsx
  src/views/toDay/components/dateAndPersonnel/Date.tsx
  src/views/toDay/components/dateAndPersonnel/TeamMembers.tsx
  src/views/toDay/components/dateAndPersonnel/index.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/context/index.tsx
  src/views/toDay/index.tsx
  src/views/toDay/service.ts
Due: npm run lint

fix: 优化axios判断
  config-overrides.js
  src/api/request.ts
  src/views/toDay/components/dateAndPersonnel/TeamMembers.tsx
Due: npm run lint

fix: apifox云端
  package.json
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iEditHeader/index.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iLoading/index.module.scss
  src/antdComponents/iTable/index.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/Head.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/header/ToggleTheme.tsx
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/layout/tabsMain/index.tsx
  src/layout/useAsyncComponent.tsx
  src/store/index.tsx
  src/useHooks/useApi.tsx
  src/useHooks/useHeaderConfig.tsx
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/views/myCenter/index.tsx
  src/views/reactCom/rtk/index.tsx
  src/views/toDay/components/dateAndPersonnel/Date.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/context/index.tsx
Due: npm run lint, stylelint --fix

feat: router searchParams set
  src/views/routerCom/routerDemo/List.tsx
  src/views/routerCom/routerDemo/index.tsx
Due: npm run lint

feat: today
  src/index.scss
  src/layout/index.tsx
  src/styles/index.scss
  src/views/toDay/components/dateAndPersonnel/index.tsx
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
  src/views/toDay/components/taskList/AddTask.tsx
  src/views/toDay/components/taskList/index.tsx
  src/views/toDay/index.tsx
  tailwind.config.js
Due: npm run lint, stylelint --fix

feat: 编译进度条
  config-overrides.js
  package.json
Due: npm run lint

fix: 格式
  .eslintrc.js
  .lintstagedrc.json
Due: npm run lint

fix: 修改配置
  config-overrides.js
  package.json
  tailwind.config.js
Due: npm run lint

feat: 数据持久化redux-persist
  package.json
  src/index.tsx
  src/store/index.tsx
  src/store/reducers/index.tsx
  src/views/toDay/components/dateAndPersonnel/index.tsx
  tailwind.config.js
Due: npm run lint

fix: 调试主题
  src/antdComponents/iCard/index.tsx
  src/antdComponents/iTooltip/index.tsx
  src/layout/index.tsx
  src/layout/menuList/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/useHooks.tsx
  src/store/index.tsx
  src/theme/useThemeHooks.tsx
  src/views/antdCom/expenses/components/useTable.tsx
  tailwind.config.js
Due: npm run lint

style: style格式化
  src/layout/header/MessageCenter.tsx
  src/views/funCom/richTextEdit/index.tsx
Due: npm run lint

style: style格式化
  src/index.scss
Due: stylelint --fix

feat: router module化
  src/layout/menuList/routerData.ts
  src/router/auth.tsx
  src/router/components/Antd.tsx
  src/router/components/Plugin.tsx
  src/router/components/React.tsx
  src/router/components/RouterDom.tsx
  src/router/index.tsx
Due: npm run lint

style: 修复文件
  src/layout/header/MessageCenter.tsx
  src/layout/header/compoment/Lists.tsx
  src/layout/header/index.module.scss
  src/layout/header/service.ts
  src/pluginComponents/index.tsx
  src/views/login/account.tsx
  src/views/login/index.tsx
  src/views/login/phone.tsx
  src/views/messageCenter/index.tsx
  src/views/myCenter/index.tsx
  src/views/reactCom/rtk/index.tsx
  src/views/toDay/components/dateAndPersonnel/Date.tsx
Due: npm run lint, stylelint --fix

feat: 首页
  package.json
  src/layout/menuList/routerData.ts
  src/router/auth.tsx
  src/router/index.tsx
  src/views/home/components/Area.tsx
  src/views/home/components/Column.tsx
  src/views/home/components/Line.tsx
  src/views/home/components/OrganizationGraph.tsx
  src/views/home/components/Pie.tsx
  src/views/home/index.tsx
Due: npm run lint

style: 调整样式
  src/antdComponents/iPagination/index.tsx
  src/styles/index.scss
  src/views/antdCom/expenses/components/useTable.tsx
Due: npm run lint, stylelint --fix

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,less})
