Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

fix: 处理cdn HTML 代码中存在语法错
  package.json
  public/index.html
Due: stylelint --fix

feat: G2图表
  src/views/home/components/Gauge.tsx
  src/views/home/components/Liquid.tsx
  src/views/home/components/Mix.tsx
  src/views/home/components/WordCloud.tsx
  src/views/home/index.tsx
  src/views/plugin/pdf/index.module.scss
  src/views/toDay/index.tsx
Due: npm run lint, stylelint --fix

feat: 抽离第三方库
  craco.config.js
Due: npm run lint

docs: create-react-app 版本更新
  package.json
  src/api/request.ts
Due: npm run lint

feat: create-react-appban版本升级
  src/layout/menuList/routerData.ts
  src/router/module/document.tsx
  src/views/document/createReactApp/index.tsx
Due: npm run lint

docs: 版本升级
  package.json
Due: none

feat: pdf
  src/antdComponents/iPagination/index.tsx
  src/react-app-env.d.ts
  src/views/plugin/pdf/index.module.scss
  src/views/plugin/pdf/index.tsx
  src/views/plugin/pdf/pdf.pdf
  src/views/plugin/pdf/title.pdf
Due: npm run lint, stylelint --fix

style: 去掉log
  src/antdComponents/iTable/components/index.tsx
  src/layout/header/messageCenter/compoment/Lists.tsx
  src/views/react/hooks/useCallback/index.tsx
Due: npm run lint

docs: 去掉babel-plugin-import
  package.json
Due: none

docs: 网站信息
  public/manifest.json
Due: none

style: pdf自适应
  src/layout/index.tsx
  src/views/plugin/pdf/index.tsx
Due: npm run lint

feat: 全屏
  src/layout/header/fullscreen/index copy.tsx
  src/layout/header/fullscreen/index.tsx
  src/views/antd/expenses/index.tsx
  src/views/react/hooks/forwardRef/index.tsx
Due: npm run lint

docs: 调整ts
  src/antdComponents/iButton/type.ts
  src/antdComponents/iCollapse/index.tsx
  src/antdComponents/iCollapse/useStyleHooks.tsx
  src/antdComponents/iDrawer/index.tsx
  src/antdComponents/iDropdown/index.tsx
  src/antdComponents/iEditHeader/TreeMenu.tsx
  src/antdComponents/iModal/Iconfirm.tsx
  src/antdComponents/iNotification/index.tsx
  src/antdComponents/iPagination/index.tsx
  src/antdComponents/iTable/components/TableSeach.tsx
  src/antdComponents/iTable/components/index.tsx
  src/antdComponents/iTable/index.tsx
  src/views/antd/expenses/components/useTable.tsx
Due: npm run lint

feat: 优化数据切片
  src/views/plugin/burst/index.tsx
Due: npm run lint

refactor: 调整组件结构
  src/antdComponents/iForm/components/ItreeSelect.tsx
  src/antdComponents/iForm/components/formItemMap.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iForm/type.ts
  src/antdComponents/iTable/components/headSeach/TableSeach.tsx
  src/antdComponents/iTable/components/headSeach/index.tsx
  src/antdComponents/iTable/components/headSeach/modules.tsx
  src/antdComponents/iTable/index.tsx
  src/antdComponents/iTooltip/index.tsx
  src/views/antd/dynamicform/index.tsx
  src/views/antd/expenses/components/useTable.tsx
Due: npm run lint

docs: 项目代码检查、规范
  .eslintrc.js
  .prettierrc.js
  README.md
Due: npm run lint

docs: 调整配置
  .eslintrc.js
  .prettierrc.js
  README.md
  src/antdComponents/iTable/components/headSeach/index.tsx
Due: npm run lint

feat: 优化btn
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iDropdown/index.tsx
  src/hoc/authButtonPermissionHoc/index.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
Due: npm run lint

fix: message静态方法
  src/api/request.ts
  src/utils/errorCode.tsx
Due: npm run lint

feat: Markdown语法
  src/antdComponents/iCollapse/index.tsx
  src/layout/menuList/routerData.ts
  src/router/module/document.tsx
  src/views/document/markdown/index.tsx
Due: npm run lint

refactor: 调整ts类型
  src/antdComponents/iButton/IbuttonItem.tsx
  src/antdComponents/iButton/index.tsx
  src/antdComponents/iButton/type.ts
  src/antdComponents/iDropdown/index.tsx
  src/antdComponents/iForm/type.ts
  src/views/messageCenter/components/useTable.tsx
  src/views/plugin/dnd/OperationBtns.tsx
Due: npm run lint

docs: 抽离sider组件
  src/layout/index.module.scss
  src/layout/index.scss
  src/layout/index.tsx
  src/layout/siderBar/index.tsx
  src/layout/tour/index.tsx
  src/layout/useAsyncComponent.tsx
  src/views/messageCenter/components/useTable.tsx
Due: npm run lint, stylelint --fix

style: 去掉log
  src/antdComponents/iCollapse/index.tsx
Due: npm run lint

style: 调整样式
  src/layout/index.tsx
  src/layout/siderBar/index.tsx
  src/styles/index.scss
Due: npm run lint, stylelint --fix

style: 去掉jest配置
  package.json
Due: none

feat: useSyncExternalStore订阅外部数据
  src/antdComponents/iTable/useHooks.tsx
  src/layout/menuList/routerData.ts
  src/router/module/react.tsx
  src/views/react/hooks/useSyncExternalStore/index.tsx
  src/views/toDay/context/index.tsx
Due: npm run lint

style: 调整代码规范
  src/App.tsx
  src/antdComponents/iButton/IbuttonItem.tsx
  src/antdComponents/iButton/type.ts
  src/index.css
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/styles/antd-ui.scss
  src/styles/index.scss
  src/styles/marginAndPadding.scss
  src/styles/variables.scss
  src/views/antd/dynamicform/index.tsx
  src/views/antd/expenses/components/SeachForm.tsx
  src/views/antd/expenses/components/useTable.tsx
  src/views/messageCenter/components/useTable.tsx
  src/views/myCenter/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/OperationBtns.tsx
  src/views/plugin/dnd/components/CreatButton.tsx
  src/views/plugin/dnd/components/StaticOptions.tsx
  src/views/react/hooks/useSyncExternalStore/index.tsx
  src/views/react/hooks/useSyncExternalStore/todosStore.ts
  src/views/toDay/components/editPersonnel/EditPersonnelTable.tsx
Due: npm run lint, stylelint --fix

feat: useSyncExternalStore案例
  src/views/react/hooks/useState/index.tsx
  src/views/react/hooks/useSyncExternalStore/index.tsx
Due: npm run lint

feat: 使用渲染md
  package.json
  src/pluginComponents/iMarkdown/index.module.scss
  src/pluginComponents/iMarkdown/index.tsx
  src/pluginComponents/iMarkdown/module/README.md
  src/react-app-env.d.ts
  src/views/document/markdown/index.tsx
  src/views/react/hooks/useState/index.tsx
Due: npm run lint, stylelint --fix

feat: useHooks
  src/useHooks/useHtml2canvas.tsx
  src/useHooks/useNotification.tsx
  src/views/login/index.tsx
Due: npm run lint

style: useReducer ts类型
  src/antdComponents/iForm/components/IuserDefined.tsx
  src/layout/header/crumb/index.tsx
  src/layout/index.tsx
  src/layout/menu/index.tsx
  src/layout/menu/routerData.ts
  src/layout/tabsMain/index.tsx
  src/layout/useAsyncComponent.tsx
  src/router/useHooks.tsx
  src/store/reducers/globalConfig.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/toDay/context/index.tsx
Due: npm run lint

fix: ts类型错误
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/context/index.tsx
  src/views/plugin/dnd/useHooks/index.tsx
Due: npm run lint

feat: useState md
  src/pluginComponents/iMarkdown/module/README.md
  src/pluginComponents/iMarkdown/module/useState.md
  src/views/react/hooks/useState/index.tsx
Due: npm run lint

feat: 重构菜单
  src/antdComponents/iCard/index.tsx
  src/index.tsx
  src/layout/header/index.tsx
  src/layout/header/userAvatar/index.module.scss
  src/layout/header/userAvatar/index.tsx
  src/layout/index.module.scss
  src/layout/index.tsx
  src/layout/menu/index.tsx
  src/layout/menu/routerData.ts
  src/layout/siderBar/index.tsx
  src/layout/tabsMain/index.module.scss
  src/layout/tabsMain/index.tsx
  src/useHooks/useNotification.tsx
  src/utils/exchange.ts
  src/utils/findNode.ts
  src/utils/findParentNode.ts
  src/utils/iconfont.tsx
Due: npm run lint, stylelint --fix

feat: react router dom md文档
  src/layout/header/index.tsx
  src/layout/menu/index.tsx
  src/pluginComponents/iMarkdown/module/reactRouterDomV6.md
  src/views/routerDom/routerDemo/List.tsx
  src/views/routerDom/routerDemo/index.tsx
  src/views/routerDom/routerInfo/index.tsx
Due: npm run lint

refactor: 重构antd全局配置
  src/antdComponents/iButton/IbuttonItem.tsx
  src/antdComponents/iCollapse/index.tsx
  src/antdComponents/iCollapse/useStyleHooks.tsx
  src/antdComponents/iForm/index.tsx
  src/antdComponents/iPagination/index.tsx
  src/antdComponents/iTable/index.tsx
  src/antdComponents/iTooltip/index.tsx
  src/config/antd/index.tsx
  src/config/antd/size/index.tsx
  src/config/antd/theme/index.tsx
  src/config/antd/theme/module/dark.ts
  src/config/antd/theme/module/white.ts
  src/config/antd/theme/useThemeHooks.tsx
  src/config/theme/index.tsx
  src/hoc/hoverEvenHoc/index.tsx
  src/index.tsx
  src/layout/header/index.tsx
  src/layout/header/messageCenter/compoment/Lists.tsx
  src/layout/index.tsx
  src/views/login/index.tsx
  src/views/plugin/dnd/EditForm.tsx
  src/views/plugin/dnd/ExamplesList.tsx
  src/views/plugin/dnd/GenerateForm.tsx
  src/views/plugin/dnd/index.tsx
Due: npm run lint

refactor: 调整布局和组件样式
  src/antdComponents/iCard/index.tsx
  src/antdComponents/iSearchForm/index.tsx
  src/layout/header/index.tsx
  src/layout/header/search/index.tsx
  src/layout/header/userAvatar/index.tsx
  src/layout/menu/index.tsx
  src/pluginComponents/iAnimateComponent/index.tsx
  src/pluginComponents/iMarkdown/index.module.scss
  src/pluginComponents/iMarkdown/index.tsx
  src/views/antd/expenses/index.tsx
  src/views/plugin/burst/index.tsx
Due: npm run lint, stylelint --fix

feat: 配置单元测试
  package.json
  src/antdComponents/iButton/IbuttonItem.test.tsx
  src/antdComponents/iButton/IbuttonItem.tsx
  src/antdComponents/iButton/__snapshots__/IbuttonItem.test.tsx.snap
  src/setupTests.ts
Due: npm run lint

refactor: 调整树节点查询
  src/layout/header/index.tsx
  src/layout/index.tsx
  src/layout/menu/index.tsx
  src/utils/findParentNode.ts
Due: npm run lint

Path conditions:
  npm run lint: (any of: *.{js,ts,tsx}) or (any of: *.{ts,tsx})
  stylelint --fix: (any of: *.{html,css,scss,sass,less}) or (any of: *.{css,scss})
