Repository lvyana/react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, stylelint --fix

fix: 添加eslint规则
  .eslintrc.js
  src/api/request.ts
  src/components/iForm/index.tsx
  src/components/pagination/index.tsx
Due: npm run lint

fix: 添加eslint规则
  .eslintrc.js
  src/components/iSearchTag/index.tsx
  src/useHooks/useFormKeepAlive.tsx
Due: npm run lint

fix: 去掉console
  .eslintrc.js
  src/api/request.ts
  src/components/animateComponent/index.tsx
  src/components/iModal/Iconfirm.tsx
  src/components/iSearchTag/index.tsx
  src/components/iTable/index.tsx
  src/components/loading/index.tsx
  src/components/pagination/index.tsx
  src/layout/header/Crumb.tsx
  src/layout/header/Head.tsx
  src/layout/header/Search.tsx
  src/layout/menuList/index.tsx
  src/layout/tabsMain/index.tsx
  src/router/Nprogress.tsx
  src/useHooks/usePermissions.tsx
  src/useHooks/useScreenSize.tsx
  src/utils/errorCode.tsx
  src/views/dynamicform/index.tsx
  src/views/errorBoundary/index.tsx
  src/views/expenses/components/headerTable.tsx
  src/views/expenses/index.tsx
  src/views/login/index.tsx
  src/views/myCenter/components/EditPhoto.tsx
  src/views/myCenter/components/Photo.tsx
  src/views/myCenter/components/ResetPassword.tsx
  src/views/myCenter/index.tsx
  src/views/richTextEdit/index.tsx
  src/views/useHooksCom/myUseCallback/index.tsx
  src/views/useHooksCom/myUseContext/index.tsx
  src/views/useHooksCom/myUseMemo/index.tsx
  src/views/useHooksCom/myUseRef/index.tsx
  src/views/useHooksCom/myUseRouter/index.tsx
  yarn.lock
Due: npm run lint

fix: 给文件夹后缀
  .lintstagedrc.json
Due: none

fix: tsconfig修改配置
  tsconfig.json
Due: none

feat: 添加useHooksApi文件
  src/api/publicApi.ts
  src/api/usePublicApi.tsx
  src/views/expenses/components/SeachForm.tsx
  src/views/expenses/index.tsx
  src/views/expenses/useHooksApi.tsx
Due: npm run lint

fix: 打包antd组件css会有顺序问题
  .lintstagedrc.json
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint

feat: 加入注释
  .eslintrc.js
  package.json
  src/components/animateComponent/index.tsx
  src/components/copy/index.tsx
  src/components/iButton/index.tsx
  src/components/iButton/type.ts
  src/components/iCard/index.tsx
  src/components/iDropdown/index.tsx
  src/components/iForm/index.tsx
Due: npm run lint

fix: 测试less stylelint
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.js
  src/styles/variables.less
Due: npm run lint, stylelint --fix

fix: 测试stylelint less
  src/styles/variables.less
Due: stylelint --fix

feat: 添加提交规范
  .eslintrc.js
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .stylelintignore
  .stylelintrc.js
  package.json
  yarn.lock
Due: npm run lint

feat: 加入规范
  .eslintrc.js
  src/api/usePublicApi.tsx
  src/reportWebVitals.ts
  src/views/dynamicform/index.tsx
  src/views/login/index.tsx
  src/views/login/service.ts
  src/views/myCenter/components/ResetPassword.tsx
  src/views/richTextEdit/index.tsx
Due: npm run lint

feat: 加入注释
  src/components/copy/index.tsx
  src/components/iButton/index.tsx
  src/components/iButton/type.ts
  src/components/iDropdown/index.tsx
  src/utils/storage.tsx
  src/views/expenses/components/headerTable.tsx
Due: npm run lint

feat: 抽离api
  src/views/expenses/index.tsx
  src/views/expenses/useHooksApi.tsx
Due: npm run lint

fix: 加注释
  src/components/iForm/index.tsx
  src/components/iForm/type.ts
  src/views/dynamicform/index.tsx
  src/views/expenses/components/SeachForm.tsx
Due: npm run lint

feat: 加入接口注释
  src/components/errorBoundary/index.tsx
  src/index.tsx
  src/views/expenses/components/headerTable.tsx
  src/views/expenses/index.tsx
  src/views/expenses/service.ts
  src/views/expenses/useHooksApi.tsx
Due: npm run lint

docs: 补充使用react-app-rewired customize-cra说明文档
  README.md
Due: none

docs: 补充使用react说明文档
  README.md
Due: none

docs: 补充reactwebpack拓展插件文档
  README.md
Due: none

fix: 修复副作用内存泄漏
  src/api/usePublicApi.tsx
  src/views/expenses/index.tsx
  src/views/expenses/useHooksApi.tsx
Due: npm run lint

docs: readux添加注释
  .eslintignore
  public/g2plot.min.js
  src/redux/actions/layout.tsx
  src/redux/actions/user.tsx
  src/redux/constant/layout.tsx
  src/redux/reducers/layout.tsx
Due: npm run lint

feat: 添加腾讯云cos 远程存储
  .lintstagedrc.json
  public/index.html
Due: stylelint --fix

feat: 添加腾讯云cos 远程存储
  .eslintignore
  .eslintrc.js
  .lintstagedrc.json
  public/index.html
Due: npm run lint, stylelint --fix

feat: 测试缓存hooks
  src/redux/reducers/user.tsx
  src/useHooks/useKeepAlive.tsx
  src/views/expenses/index.tsx
Due: npm run lint

feat: 富文本预览html
  src/components/iLookModal/index.tsx
  src/views/richTextEdit/components/Preview.tsx
  src/views/richTextEdit/index.tsx
Due: npm run lint

feat: 初始化密码
  src/views/login/account.tsx
Due: npm run lint

style: 配置样式
  src/index.less
Due: stylelint --fix

style: 配置样式
  package.json
  src/components/iForm/index.tsx
Due: npm run lint

style: 配置样式
  src/components/iForm/index.tsx
Due: npm run lint

style: 配置样式
  .prettierrc.js
  src/components/iForm/index.tsx
  src/views/expenses/index.tsx
  src/views/login/index.tsx
  src/views/useHooksCom/myUseRouter/index.tsx
Due: npm run lint

feat: use案例
  src/layout/menuList/index.tsx
  src/router/index.tsx
  src/views/useHooksCom/myUseEffect/index.tsx
  src/views/useHooksCom/myUseMemo/index.tsx
  src/views/useHooksCom/myUseReducer/index.tsx
  src/views/useHooksCom/myUseState/index.tsx
Due: npm run lint

style: class取消正则
  .stylelintrc.js
  src/layout/index.less
  src/layout/index.tsx
Due: npm run lint, stylelint --fix

feat: 测试useLayoutEffect
  src/layout/menuList/index.tsx
  src/router/auth.tsx
  src/router/index.tsx
  src/views/useHooksCom/myUseLayoutEffect/index.tsx
  src/views/useHooksCom/myUseRef/index.tsx
Due: npm run lint

feat: redux->RTK
  package.json
  src/components/iButton/index.tsx
  src/components/iForm/index.tsx
  src/components/iTable/index.tsx
  src/layout/header/Head.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/tabsMain/index.tsx
  src/redux/actions/layout.tsx
  src/redux/actions/log.tsx
  src/redux/actions/user.tsx
  src/redux/constant/layout.tsx
  src/redux/constant/log.tsx
  src/redux/constant/user.tsx
  src/redux/reducers/layout.tsx
  src/redux/reducers/log.tsx
  src/redux/reducers/user.tsx
  src/redux/store.tsx
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/views/myCenter/index.tsx
  yarn.lock
Due: npm run lint

fix: 移除redux
  package.json
  src/redux/store.tsx
  yarn.lock
Due: npm run lint

fix: redux-logger
  package.json
  src/redux/store.tsx
  yarn.lock
Due: npm run lint

feat: rtk reducer重新命名
  package.json
  src/components/iButton/index.tsx
  src/components/iForm/index.tsx
  src/components/iTable/index.tsx
  src/index.tsx
  src/layout/header/Head.tsx
  src/layout/header/ModuleSize.tsx
  src/layout/tabsMain/index.tsx
  src/redux/reducers/user.tsx
  src/store/index.tsx
  src/store/reducers/layout.tsx
  src/store/reducers/log.tsx
  src/store/reducers/user.tsx
  src/useHooks/useKeepAlive.tsx
  src/useHooks/usePermissions.tsx
  src/views/myCenter/index.tsx
  yarn.lock
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,ts,tsx}
  stylelint --fix: any of: *.{html,css,scss,sass,less}
